@{
    ViewBag.Title = "Home Page";
}


<center><h1><strong>Ever-Fresh</strong></h1></center>
<p class="lead"><center>Leave your food on the table, not your money.</center></p>
<center><img src="http://www.organicauthority.com/wp-content/uploads/2010/09/produce-ccflickr-matthannon.png" alt="The Freshest" style="width:304px;height:228px;"></center>

<center><h2><strong>Do your part to help save protect your bank account and the environment</strong></h2></center>
<p>
    <center>At Ever-Fresh, we are committed to helping families like you save money from unnecessary food waste.  In addition, we recognize the serious impact that large scale food waste can have on the environment.  We are proud to have conscientious users such as yourself among our users, and you inspire us everyday to keep innovating to make the world a better place through technology.</center>
</p>
<aside>
    <h4><strong>Did You Know?</strong></h4>
    <p>The average American family of four throws away roughly 25% of their food, costing nearly $2,000 each year.  Click on the About tab at the top of the page to learn more about our mission at Ever-Fresh and learn how you can start stop throwing away your money money today.</p>
</aside>
